<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css.css}" />
</head>
</body>
<div class="wrapper">
    <div class="sidebar">
        <h2>SCHEDULE</h2>
        <img class="logo" th:src="'/images/' + 'lotuslogo3.png'" alt="Lotus Logo"/>
        <ul>
            <li><a th:href="@{/}"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/classes}"><i class="fas fa-user"></i>Classes</a></li>
            <li><a th:href="@{/schedule}"><i class="fas fa-address-card"></i>Schedule</a></li>
            <li><a th:href="@{/instructors}"><i class="fas fa-project-diagram"></i>Instructors</a></li>
            <li><a th:href="@{/contact}"><i class="fas fa-address-book"></i>Contact</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">The yoga pose is not the goal. Becoming flexible or standing on your hands is not the goal. The goal is to create space where you were once stuck. To unveil layers of protection you've built around your heart. To appreciate your body and becomeaware of the mind and the noise it creates. To make peace with who you are. The goal is to love,...well, you! Shift your focus and your heart will grow - Rachel Brathen</div>
        <div class="daily-info">
            <div class="row">
                <br>
                <h1>SCHEDULE FOR THE WEEK</h1>
                <br>
                <h2>Sunday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Monday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Tuesday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Wednesday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Thursday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Friday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>

                <br>
                <h2>Saturday</h2>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'beginneryoga.jpeg'" alt="beginners yoga photo" style="width:200px;height:auto;">
                </p>
                <h4>Beginners Yoga </h4>
                <p>Times: 08:00 am    2:45pm     6:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'mediumyoga.jpeg'" alt="hotyoga 1 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 1</h4>
                <p>Times: 07:00 am    3:45pm     7:45pm</p>
                <br>
                <p>
                    <img class="yogaphoto" th:src="'/images/' + 'advancedyoga.jpeg'" alt="hotyoga 2 photo" style="width:200px;height:auto;"></p>
                <h4>Hot Yoga 2</h4>
                <p>Times: 06:00 am    1:45pm     5:45pm</p>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>